@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Quicksand:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

#vive {
  color: #F24F13;
}

#cmarca {
  color: #99CC33;
}

#col {
  color: #419133;
}

.wrapper {
  margin: 0 90px;
}

#first {
  background-color: #F24F13;
}

#second {
  background-color: #99CC33;
}

#third {
  background-color: #419133;
}

.hero .containers img {
  width: 100%;
}

.partners {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.partners img {
  width: 100px;
}

.content {
  margin: 20px;
}

.content h3 {
  font-size: 20px;
  font-weight: 400;
}

.content h2 span {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.cards .card {
  height: 250px;
  max-width: 317px;
  width: 100%;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  border-radius: 9px;
  border: none;
}

.card .cardInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card .logoHouse img {
  width: 88px;
  height: 88px;
  margin: 12px;
}

.card .location {
  display: flex;
  align-items: center;
}

.card .location img {
  margin-right: 5px;
  width: 11px;
  height: 14px;
}

.card h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 23px;
}

.card hr {
  background-color: #fff;
  width: 35px;
  height: 2px;
  border: none;
  margin: 10px 0;
}

.card h4 {
  font-weight: 500;
  font-size: 10px;
}

.card .cardButton {
  margin: -15px;
}

.card .cardButton button{
  background-color: #F24F13;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
}

.cardButton img {
  margin-left: 5px;
  width: 13px;
  height: 17px;
}

.contentCards .finalCard h3 {
  color: #fff;
  position: sticky;
  z-index: 5;text-align: center;
  margin: 50px;
  font-size: 20px;
  font-weight: normal;
}

.modal-dialog {
  max-width: 800px;
}

.modal-content {
  border: none;
  border-radius: 20px;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-content .btn-close {
  background-image: url('./assets/images/close.png');
}

.modal-header h5 {
  font-family: 'Gloria Hallelujah', cursive;
}

.modal-header hr {
  background-color: #fff;
  width: 35px;
  color: #fff;
  height: 2px;
  border: none;
  margin: 10px 0;
}

.modal-header img {
  width: 17px;
  height: 22px;
  margin-right: 5px;
}

.modal-header .location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header h4 {
  font-size: 13px;
}

.modal-body {
  padding: 0;
  color: #000;
  font-weight: 600;
}

.modal-body .banner img {
  width: 100%;
  margin: 0;
}

.modal-body .info {
  margin: 35px 60px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.modal-body .info .description p {
  max-width: 350px;
  width: 100%;
}

.contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.phone a {
  text-decoration: none;
  color: #000;
  margin-left: 5px;
}

.modal-body .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal-body .contact hr {
  background-color: #F24F13;
  width: 50px;
  color: #fff;
  height: 3px;
  border: none;
  margin: 10px 0;
}

.contact h3 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #F24F13;
}

.contactInfo .icon {
  margin-right: 5px;
}

.modal-body .mainImg {
  background-color: #EEEEEE;
  text-align: center;
}

.modal-body .mainImg picture img {
  margin: 30px auto;
}

.modal-body .carousel {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.modal-body .location {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #419133;
  padding: 35px 0;
}

.location h5 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #fff;
}

.modal-footer button {
  margin: 0 auto;
  background-color: #F24F13;
  border: none;
}

.footer {
  margin: -400px 0;
}

.footer img {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 810px){
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .content h2 {
    font-size: 20px;
  }
  .footer {
    margin: -200px 0;
  }
}