@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Quicksand:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.hero .container img {
  width: 100%;
}

#vive {
  color: #F24F13;
}

#cmarca {
  color: #99CC33;
}

#col {
  color: #419133;
}

.wrapper {
  margin: 0 90px;
}

.content {
  margin: 50px 30px;
}

.content h3 {
  font-size: 20px;
  font-weight: 400;
}

.content h2 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  position: relative;
}

.cards .card {
  height: 250px;
  max-width: 317px;
  width: 100%;
  border: 1px dashed gray;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  border-radius: 9px;
}

.card .cardInfo {
  display: flex;
  align-items: center;
}

.card .logoHouse img {
  width: 88px;
  height: 88px;
  margin: 12px;
}

.card .location {
  display: flex;
  align-items: center;
}

.card .location img {
  margin-right: 5px;
}

.card h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 25px;
  font-weight: normal;
  line-height: 20px;
}

.card hr {
  background-color: #fff;
  width: 35px;
  height: 2px;
  border: none;
  margin: 10px 0;
}

.card h4 {
  font-weight: 500;
  font-size: 10px;
}

.card .cardButton {
  margin: 5px;
}

.card .cardButton button{
  background-color: #F24F13;
  border-radius: 8px;
  text-transform: uppercase;
  color: #fff;
  padding: 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none
}

.cardButton img {
  margin-left: 5px;
}

.footer {
  margin: -400px 0;
}

.footer img {
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 810px){
  .wrapper {
    width: 100%;
    margin: 0;
  }
  .content h2 {
    font-size: 20px;
  }
  .footer {
    margin: -200px 0;
  }
}